* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*will inharit this properties for all child selector*/
    font-family: sans-serif;
    color: #444;
    border-top: 10px solid #1098ad;
    position: relative;
}

/*h1,   //will inharit from the body selector
h2,
h3,
h4,
li {
    font-family: sans-serif;
    color: #444;
}*/
h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-style: italic;
}

h1::first-letter {
    font-style: normal;
    margin-right: 7px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
}

h2::after {
    content: "top";
    text-transform: uppercase;
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    color: black;
    position: absolute;
    top: -10px;
    right: -25px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

/*article {
    margin: 60px;
}*/

.post-header {
    /* margin-bottom: 40px; */
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ol,
ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 2px;
}

li:last-child {
    margin-bottom: 0;
}

/*footer p {
    font-size: 16px;
}*/

#Copyright {
    font-size: 16px;
}


.post-img {
    width: 100%;
    height: auto;
    }


/*article header p {
    font-style: italic;
}*/

#author {
    font-size: 18px;
    font-style: italic;
}

.related-author {
    font-size: 16px;
    font-weight: bold;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.related {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
    padding: 40px 20px;
    /* margin-bottom: 40px; */
}

nav a:link {
    display: inline-block;
    margin-right: 20px;
}

nav a:link:last-child {
    margin-right: 0;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 40px 30px;
}

article>p:last-child {
    color: red;
}

/* l v h a*/
a:link {
    text-decoration: none;
    color: #1098ad;
}

a:visted {
    color: #1098ad;
}

a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline solid red;
}

a:active {
    background-color: #000;
    font-style: italic;
}

nav {
    font-size: 18px;
}

button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

/*trying the float proberty
.author-photo {
    float: left;
}

#author {
    float: left;
    margin-bottom: 25px;
}

h1 {
    float: left;
}

nav {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
}

article {
    width: 825px;
    float: left;
}

aside {
    width: 300px;
    float: right;

}

footer {
    clear: both;
}*/

/*
    trying the float proberty
*/

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.author {
    margin-bottom: 0;
    margin-left: 20px;
}

.related-post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.related-author {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.related-link:link {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 5px;
    display: block;
}

.flextest {
    display: flex;
    gap: 75px;
}
/*
article {
    flex: 1;
    margin-bottom: 20px;
}

aside {
    align-self: flex-start;
    flex: 0 0 300px;
}*/


/* CSS Grid */
.container {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 75px;
    row-gap: 30px;
}

.main-header {
    grid-column: 1/-1; 
}

article {

}

aside {
    align-self: start;
}

footer {
    grid-column: 1/-1;
}
